body {
  margin: 0;
  padding: 0;
}

#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  z-index: 0;
}

.page #map {
  width: 975px; /* 6.5 in * 300 dpi; */
  height: 1350px;  /* 9 in * 300 dpi; */
}

.page #map {
  width: 2048px; /* 6.5 in * 300 dpi; */
  height: 2048px;  /* 9 in * 300 dpi; */
}


.plot #map {
  width: 3027px; /* 34 in * 150 dpi; */
  height: 4096px;  /* 46 in * 150 dpi; */
  transform-origin: 0 0;
  scale: 20%;
}

.page .maplibregl-control-container,
.page #controls,
.plot .maplibregl-control-container,
.plot #controls {
  display: none;
}

#controls {
  position: fixed;
  right: 20px;
  bottom: 40px;
  z-index: 1;
  /* display: none; */
}

#controls label {
  display: block;
  position: relative;
  cursor: pointer;
  padding: 1px 0;
}

#controls label .category {
  display: block;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  text-align: right;
  padding-right: 8px;
  width: 100%;
  line-height: 20px;
  font-weight: bold;
}

.glyph {
  display: inline-block;
  width: 20px;
  height: 20px;
  line-height: 20px;
  font-size: 20px;
  text-align: center;
  text-decoration: none !important;
}

#controls input {
  width: 0;
  height: 0;
  opacity: 0;
  position: absolute;
}

#controls input:not(:checked) + .category {
  text-decoration: line-through;
  opacity: 0.5;
}

.marker {
  font-size: 100px;
  font-weight: bold;
  color: #f40 !important;
  display: none;
}

