body {
  margin: 0;
  padding: 0;
}


#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  z-index: 0;
}

.page #map {
  width: 975px; /* 6.5 in * 300 dpi; */
  height: 1350px;  /* 9 in * 300 dpi; */
}

.page #map {
  width: 2048px; /* 6.5 in * 300 dpi; */
  height: 2048px;  /* 9 in * 300 dpi; */
}


.plot #map {
  width: 3027px; /* 34 in * 150 dpi; */
  height: 4096px;  /* 46 in * 150 dpi; */
  transform-origin: 0 0;
  scale: 20%;
}

.page .maplibregl-control-container,
.page #controls,
.plot .maplibregl-control-container,
.plot #controls {
  display: none;
}

#controls {
  position: fixed;
  right: 20px;
  bottom: 40px;
  z-index: 1;
  /* display: none; */
}

#controls label {
  display: block;
  position: relative;
  cursor: pointer;
  padding: 1px 0;
}

#controls label .category {
  display: block;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  text-align: right;
  padding-right: 28px;
  line-height: 20px;
  font-weight: bold;
}

.glyph {
  display: inline-block;
  width: 18px;
  height: 18px;
  position: absolute;
  top: 1px;
  right: 1px;
}

.glyph svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 18px;
  height: 18px;
}

#controls input {
  width: 0;
  height: 0;
  opacity: 0;
  position: absolute;
}

#controls input:not(:checked) + .category {
  text-decoration: line-through;
  opacity: 0.5;
}

.marker {
  width: 18px;
  height: 18px;
}

.marker svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 18px;
  height: 18px;
  z-index: 49;
}

.marker svg + svg {
  z-index: 50;
}

#svg {
  display: none;
  width: auto;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: url(./images/super-map-70-invert.jpg) 0 0 no-repeat;
  background-size: cover;
  /* transform: scale(0.5);
  transform-origin: 0 0; */
}

#svg path {
  fill: #9acd32;
  stroke: #fff;
  stroke-width: 4;
}

.icon-foreground {
  fill: #9acd32;
  z-index: 89;
}

.icon-background {
  stroke: #fff;
  fill: #fff;
  stroke-width: 12;
  z-index: 90;
}

.export #map {
  display: none;
}

.export #svg {
  display: block;
}
